.title{
    text-align:center;
    --line-height: 50px;
    font-size:32px;
}
.step_body{
    margin: 44px auto;
    width:100%;
}
.step_desc{
    padding-left:8px;
}
.step_desc button{
    width: 150px;
    text-align:center;
}

.text_break{
    word-break: break-all;
    white-space: normal;
}