.section-footer {
    line-height:44px;
    background: rgba(0, 35, 20, 1);
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-size: 12px;
    position:relative;
  }
  
  .section-footer .left {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
    margin-top: 175px;
  }
  
  .section-footer .left .icon {
    height: 50px;
  }
  
  .section-footer .left .logo {
    height: 50px;
    margin-left: 10px;
  }
  
  .section-footer .right {
    display: flex;
  }
  
  .section-footer .right .list {
    text-align: right;
    margin-right: 30px;
  }
  
  .section-footer .right .list h1 {
    color: rgba(76, 209, 48, 1);
  }
  
  .section-footer .right .list p {
    color: #fff;
  }
  
  .section-footer .right .list p.cur {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .section-footer .right .list p:not(:nth-child(2)) {

  }
  